node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
README.md
.env
.editorconfig
.angular
dist
.vscode
.github
*.md
LICENSE
.DS_Store
Thumbs.db
*.log
coverage
.nyc_output
*.spec.ts
e2e
.eslintrc*
.prettierrc*